[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://192.168.1.102/python-packages"
verify_ssl = false
name = "ermin"

[packages]
metrestapi = {version="1.0.5", index="ermin"}
requests = "==2.25.1"
simpleaudio = "==1.0.4"
beepy = "==1.0.7"

[dev-packages]

[requires]
python_version = "3.7"
